body{
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin:0;
  border: 0;
  padding: 0;
}
#windows{
  display:fixed;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin:0;
  border: 0;
  padding: 0;
}
h2, p{
  text-align: justify;
  width: 84%;
  -webkit-transform: translate(8%,0%);
          transform: translate(8%,0%);
  font-size: 50%;
}
p{
  font-family: Open Sans;
}
h2{
  font-family: Comic Sans MS;
  text-align: center;
}

.box input {
  height: 20%;
  width: 80%;
  left: 10%;
  top:80%;
  text-align: center;
  background-color: #cccccc;
  border: 0px;
  font-family: Comic Sans MS;
  /*font-size: 200%;*/
  z-index: -1;
  position: absolute;
  cursor: pointer;
}

.immagine{
    width: 80%;
    height: 80%;
    left: 10%;
    z-index: -1;
    position: absolute;
    text-align: center;

  }
.immagine img{

  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 16px solid ;
  padding: 10px;
  border-color: #000000;
  z-index: -1;
  margin: auto;

}
.box{
  height: 80%;
  width: 80%;
  top:10%;
  left: 10%;
  z-index: 1;
  position: absolute;
}
.descrizione{
  -webkit-animation: up 2s linear forwards paused;
          animation: up 2s linear forwards paused;
  position: absolute;

  /*box-shadow:20px 20px 50px grey;*/
  border: 3px solid #2500ff;
  width: 70%;
  height:  40%;
  top: 100%;
  left: 15%;
  z-index: 2;
  background-color: #ffffff;
}
.descrizione button{
  height: 15px;
  width: 15px;
  z-index: 2;
  margin: 8px;
  border: 0;
  padding: 0;
  float: right;
  cursor: pointer;
}
.pulsanti{
  position: absolute;
  text-align: center;
  -webkit-transform-origin: center center 0;
          transform-origin: center center 0;
  background-color: transparent;
  top:80%;
  left:15%;
  height: 20%;
  width: 70%;
}
.pulsanti img{
  display: inline-block;
  cursor: pointer;
  height: auto;
  max-width: 100%;

}
#dx{
  margin-right: 10%;
}
.pulsanti img:hover{

}
.parete{
  position: absolute;
  background-color: #ffffff;
  height: 85%;
  width: 100%;
}

.galleria{
  -webkit-perspective: 200vw;
          perspective: 200vw;
  -webkit-perspective-origin: top center;
          perspective-origin: top center;
  background-color: #65490e;
  width: 100%;
  height: 100%;

}
.muro{
  display: inline-block;
  position: absolute;
  background-color: white;
  /*background-image: url("immagini/pavimento.jpg");*/
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
  z-index: 0;
  height:  100%;
}
.angolo{
  position: absolute;
  -webkit-perspective: 200vw;
          perspective: 200vw;
  -webkit-perspective-origin: top center;
          perspective-origin: top center;
  -webkit-animation: slide2d2 2s linear forwards paused;
          animation: slide2d2 2s linear forwards paused;
  z-index: 1;
  -webkit-transform: translate(100%,0%);
          transform: translate(100%,0%);
  height: 100%;
  width: 100%;
}
#angolo1{
  z-index: -1;
  -webkit-transform: translate(0%,0%);
          transform: translate(0%,0%);
}
#muro1,#muro3,#muro6,#muro8{
  -webkit-animation: slide3d 2s linear forwards paused;
          animation: slide3d 2s linear forwards paused;
  -webkit-transform-origin: bottom left 0;
          transform-origin: bottom left 0;
  -webkit-transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );
          transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );
}
#muro2,#muro4,#muro7,#muro9{
  -webkit-transform-origin: bottom right 0;
          transform-origin: bottom right 0;
  -webkit-transform: rotate3d(0, 1, 0, -90deg) translate3d(100%, 0px, 0px );
          transform: rotate3d(0, 1, 0, -90deg) translate3d(100%, 0px, 0px );
}

#muro5,#muro10{
  -webkit-animation: slide2d 2s linear paused;
          animation: slide2d 2s linear paused;
  -webkit-transform-origin: bottom left 0;
          transform-origin: bottom left 0;
  -webkit-transform:  translate3d(100%, 0px, 0px );
          transform:  translate3d(100%, 0px, 0px );
}


/*animazioni*/
@-webkit-keyframes slide3d {
  0% {-webkit-transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );}
  100% {-webkit-transform:  rotate3d(0, 1, 0, 90deg) translate3d(-100%, 0px, 0px );transform:  rotate3d(0, 1, 0, 90deg) translate3d(-100%, 0px, 0px ); }
}
@keyframes slide3d {
  0% {-webkit-transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );}
  100% {-webkit-transform:  rotate3d(0, 1, 0, 90deg) translate3d(-100%, 0px, 0px );transform:  rotate3d(0, 1, 0, 90deg) translate3d(-100%, 0px, 0px ); }
}
@-webkit-keyframes slide3dr {
  0% {-webkit-transform:  rotate3d(0, 1, 0, 90deg) translate3d(-100%, 0px, 0px );transform:  rotate3d(0, 1, 0, 90deg) translate3d(-100%, 0px, 0px ); }
  100% {-webkit-transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );}
}
@keyframes slide3dr {
  0% {-webkit-transform:  rotate3d(0, 1, 0, 90deg) translate3d(-100%, 0px, 0px );transform:  rotate3d(0, 1, 0, 90deg) translate3d(-100%, 0px, 0px ); }
  100% {-webkit-transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );}
}
@-webkit-keyframes slide2d2 {
  0% {left:0;}
  100%{left: -100%;}
}
@keyframes slide2d2 {
  0% {left:0;}
  100%{left: -100%;}
}
@-webkit-keyframes slide2d2r {
  0%{left: -100%;}
  100% {left:0;}
}
@keyframes slide2d2r {
  0%{left: -100%;}
  100% {left:0;}
}
@-webkit-keyframes slide2d3 {
  0% {left:-100%;}
  100%{left: -200%;}
}
@keyframes slide2d3 {
  0% {left:-100%;}
  100%{left: -200%;}
}
@-webkit-keyframes slide2d3r {
  0% {left:-200%;}
  100%{left: -100%;}
}
@keyframes slide2d3r {
  0% {left:-200%;}
  100%{left: -100%;}
}
@-webkit-keyframes slide2d {
  0% {-webkit-transform:  rotate3d(0, 1, 0, 0deg) translate3d(100%, 0px, 0px );transform:  rotate3d(0, 1, 0, 0deg) translate3d(100%, 0px, 0px );}
  100% {-webkit-transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px ); }
}
@keyframes slide2d {
  0% {-webkit-transform:  rotate3d(0, 1, 0, 0deg) translate3d(100%, 0px, 0px );transform:  rotate3d(0, 1, 0, 0deg) translate3d(100%, 0px, 0px );}
  100% {-webkit-transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px ); }
}
@-webkit-keyframes slide2dr {
  0% {-webkit-transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px ); }
  100% {-webkit-transform:  rotate3d(0, 1, 0, 0deg) translate3d(100%, 0px, 0px );transform:  rotate3d(0, 1, 0, 0deg) translate3d(100%, 0px, 0px );}

}
@keyframes slide2dr {
  0% {-webkit-transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px ); }
  100% {-webkit-transform:  rotate3d(0, 1, 0, 0deg) translate3d(100%, 0px, 0px );transform:  rotate3d(0, 1, 0, 0deg) translate3d(100%, 0px, 0px );}

}
@-webkit-keyframes up {
  0%{ top:100%;}
  100%{top: 59%;}
}
@keyframes up {
  0%{ top:100%;}
  100%{top: 59%;}
}
@-webkit-keyframes down {
  0%{ top:59%;}
  100%{top: 100%;}
}
@keyframes down {
  0%{ top:59%;}
  100%{top: 100%;}
}
@-webkit-keyframes turn {
  0%{-webkit-transform: rotate3d(1 , 0, 0, 90deg) translate(0%,100%);transform: rotate3d(1 , 0, 0, 90deg) translate(0%,100%);}
  100%{-webkit-transform: rotate3d(1 , 0, 0, 90deg) translate(0%,100%);transform: rotate3d(1 , 0, 0, 90deg) translate(0%,100%);}
}
@keyframes turn {
  0%{-webkit-transform: rotate3d(1 , 0, 0, 90deg) translate(0%,100%);transform: rotate3d(1 , 0, 0, 90deg) translate(0%,100%);}
  100%{-webkit-transform: rotate3d(1 , 0, 0, 90deg) translate(0%,100%);transform: rotate3d(1 , 0, 0, 90deg) translate(0%,100%);}
}
