
#floor{
  width: 200%;
  height: 72vw;
  position: absolute;
  /*background-color: green;*/
  transform-style: preserve-3d;
  animation: slide2d2 2s linear forwards paused;
  background-image: url("immagini/pavimento3.jpg");
  transform: rotate3d(-1 , 0, 0, 90deg) translate3d(0px, -100%, 50vh );
  transform-origin: top left 0;

}

#floorangolo1{
  position: absolute;
  perspective: 200vw;
  perspective-origin: top center;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: translate(0%,0%);
}
#floormuro1{
  display: inline-block;
  position: absolute;
  visibility: visible;
  /*background-color: blue;*/
  transform-style: preserve-3d;
  width: 100%;
  z-index: 0;
  height:  100%;
  animation: floorslide3d 2s linear forwards paused;
  transform-origin: bottom left 0;
  transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );
}

/*animazioni*/
@keyframes floorslide3d {
  0% {transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );}
  100% {transform:  rotate3d(0, 1, 0, 90deg) translate3d(-100%, 0px, 0px ); }
}
@keyframes floorslide3dr {
  0% {transform:  rotate3d(0, 1, 0, 90deg) translate3d(-100%, 0px, 0px ); }
  100% {transform:  rotate3d(0, 1, 0, 0deg) translate3d(0%, 0px, 0px );}
}
@keyframes floorslide3d2 {
  0% {transform:  rotate3d(0, 1, 0, 90deg) translate3d(-100%, 0px, 0px );}
  100% {transform:   rotate3d(0, 1, 0, 180deg) translate3d(-100%, 0px, -24vw ); }
}
@keyframes floorslide3d2r {
  0% {transform:   rotate3d(0, 1, 0, 180deg) translate3d(-100%, 0px, -24vw ); }
  100% {transform:  rotate3d(0, 1, 0, 90deg) translate3d(-100%, 0px, 0px );}
}
@keyframes floorslide3d3 {
  0% {transform:   rotate3d(0, 1, 0, 180deg) translate3d(-100%, 0px, -24vw );}
  100% {transform:  rotate3d(0, 1, 0, 270deg) translate3d(0%, 0px, -24vw ); }
}
@keyframes floorslide3d3r {
  0% {transform:  rotate3d(0, 1, 0, 270deg) translate3d(0%, 0px, -24vw ); }
  100% {transform:   rotate3d(0, 1, 0, 180deg) translate3d(-100%, 0px, -24vw );}
}
@keyframes floorslide3d4 {
  0% {transform:  rotate3d(0, 1, 0, 270deg) translate3d(0%, 0px, -24vw );}
  100% { transform:  rotate3d(0, 1, 0, 360deg) translate3d(0%, 0px, 0px ); }
}
@keyframes floorslide3d4r {
  0% { transform:  rotate3d(0, 1, 0, 360deg) translate3d(0%, 0px, 0px ); }
  100% {transform:  rotate3d(0, 1, 0, 270deg) translate3d(0%, 0px, -24vw );}
}

@keyframes floorslide2d {
  0% {transform: rotate3d(-1 , 0, 0, 90deg) translate3d(-50%, -100%, 50vh );}
  100% {transform:  rotate3d(-1 , 0, 0, 90deg) translate3d(-50%, -66.6%, 50vh ); }
}
@keyframes floorslide2dr {
  0% {transform:  rotate3d(-1 , 0, 0, 90deg) translate3d(-50%, -66.6%, 50vh ); }
  100% {transform: rotate3d(-1 , 0, 0, 90deg) translate3d(-50%, -100%, 50vh );}
}
@keyframes floorslide2d2 {
  0% {left:0;}
  100%{left: -100%;}
}
@keyframes floorslide2d2r {
  0%{left: -100%;}
  100% {left:0;}
}
@keyframes floorslide2d4 {
  0% {transform: rotate3d(-1 , 0, 0, 90deg) translate3d(-50%, -66.6%, 50vh );}
  100% {transform:  rotate3d(-1 , 0, 0, 90deg) translate3d(-50%, -33.3%, 50vh ); }
}
@keyframes floorslide2d4r {
  0% {transform:  rotate3d(-1 , 0, 0, 90deg) translate3d(-50%, -33.3%, 50vh ); }
  100% {transform: rotate3d(-1 , 0, 0, 90deg) translate3d(-50%, -66.6%, 50vh );}
}
@keyframes floorslide2d6 {
  0% {transform:  rotate3d(-1 , 0, 0, 90deg) translate3d(-50%, -33.3%, 50vh ); }
  100% {transform: rotate3d(-1 , 0, 0, 90deg) translate3d(0%, -33.3%, 50vh );}
}
@keyframes floorslide2d6r {
  0% {transform:  rotate3d(-1 , 0, 0, 90deg) translate3d(0%, -33.3%, 50vh ); }
  100% {transform: rotate3d(-1 , 0, 0, 90deg) translate3d(-50%, -33.3%, 50vh );}
}
@keyframes floorslide2d7 {
  0% {transform:  rotate3d(-1 , 0, 0, 90deg) translate3d(0%, -33.3%, 50vh ); }
  100% {transform: rotate3d(-1 , 0, 0, 90deg) translate3d(0%, -66.6%, 50vh );}
}
@keyframes floorslide2d7r {
  0% {transform:  rotate3d(-1 , 0, 0, 90deg) translate3d(0%, -66.6%, 50vh ); }
  100% {transform: rotate3d(-1 , 0, 0, 90deg) translate3d(0%, -33.3%, 50vh );}
}
@keyframes floorslide2d8 {
  0% {transform:  rotate3d(-1 , 0, 0, 90deg) translate3d(0%, -66.6%, 50vh ); }
  100% {transform: rotate3d(-1 , 0, 0, 90deg) translate3d(0%, -100%, 50vh );}
}
@keyframes floorslide2d8r {
  0% {transform: rotate3d(-1 , 0, 0, 90deg) translate3d(0%, -100%, 100vh );}
  100% {transform:  rotate3d(-1 , 0, 0, 90deg) translate3d(0%, -66.6%, 100vh ); }
}
